footer {
    background-color:#141414;
    color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    clear: both;
}

footer img {
    float: left;
}

#social {
    text-align: center;
    float: right;
}

#social .fab {
    margin: 10px 10px;
}

footer a {
    color: #c7c7c7;
    text-decoration: none;
}

footer a:hover {
    transition: 0.2s;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0px 10px rgb(161, 161, 161);
}